# Yarn Classic has a flat structure for dependencies stored in node_modules. FEM is used to this.
node-linker=hoisted

# pnpm will link workspace packages if versions match.
link-workspace-packages=true
