services:
  fe-project:
    image: front-end-monorepo_prod:latest
    volumes:
      - node_modules-prod:/usr/src/node_modules
    build:
      context: ./
      args:
        - PANOPTES_ENV=production
        - NEXT_TELEMETRY_DISABLED=1
        - APP_ENV=development
    entrypoint:
      - "pnpm"
      - "--filter"
      - "@zooniverse/fe-project"
    command: ["start"]
    environment:
      - PORT=3000
    ports:
      - "3002:3000"
  fe-root:
    image: front-end-monorepo_prod:latest
    volumes:
      - node_modules-prod:/usr/src/node_modules
    build:
      context: ./
      args:
        - PANOPTES_ENV=production
        - NEXT_TELEMETRY_DISABLED=1
        - APP_ENV=development
    entrypoint:
      - "pnpm"
      - "--filter"
      - "@zooniverse/fe-root"
    command: ["start"]
    environment:
      - PORT=3000
    ports:
      - "3003:3000"
# Volumes are useful for inspecting contents of the node_modules via Docker Desktop.
volumes:
  node_modules-dev:
  node_modules-prod:
