version: '3.4'

services:
  test:
    image: front-end-monorepo_dev:latest
    build:
      context: ./
      target: bootstrap
    entrypoint:
      - "yarn"
    command: ["test"]
    volumes:
      - ${PWD}:/usr/src
      - /usr/src/node_modules
  fe-project:
    image: front-end-monorepo_production:latest
    build:
      context: ./
      target: production
    entrypoint:
      - "yarn"
      - "workspace"
      - "@zooniverse/fe-project"
    command: ["start"]
    ports:
      - "3000:3000"
  fe-content:
    image: front-end-monorepo_production:latest
    build:
      context: ./
      target: production
    entrypoint:
      - "yarn"
      - "workspace"
      - "@zooniverse/fe-content-pages"
    command: ["start"]
    ports:
      - "3001:3000"

