import counterpart from 'counterpart'
import PropTypes from 'prop-types'
import React from 'react'

import en from './locales/en'

counterpart.registerTranslations('en', en)

function {{ properCase name }} () {
  return (
    <div>
      component
    </div>
  )
}

{{ properCase name }}.propTypes = {
}

{{ properCase name }}.defaultProps = {
}

export default {{ properCase name }}
