apiVersion: apps/v1
kind: Deployment
metadata:
  name: zooniverse-org-project-staging
  labels:
    app: zooniverse-org-project-staging
spec:
  replicas: 2
  selector:
    matchLabels:
      app: zooniverse-org-project-staging
  template:
    metadata:
      labels:
        app: zooniverse-org-project-staging
    spec:
      containers:
        - name: fe-project-staging
          image: zooniverse/fe-project:__IMAGE_TAG__
          ports:
            - containerPort: 3000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zooniverse-org-project-production
  labels:
    app: zooniverse-org-project-production
spec:
  replicas: 2
  selector:
    matchLabels:
      app: zooniverse-org-project-production
  template:
    metadata:
      labels:
        app: zooniverse-org-project-production
    spec:
      containers:
        - name: fe-project-production
          image: zooniverse/fe-project:__IMAGE_TAG__
          ports:
            - containerPort: 3000
          env:
            - name: PANOPTES_ENV
              value: production
            - name: NODE_ENV
              value: production
