---
apiVersion: v1
kind: Service
metadata:
  name: zooniverse-org-project-staging
spec:
  selector:
    app: zooniverse-org-project-staging
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zooniverse-org-project-staging
  labels:
    app: zooniverse-org-project-staging
spec:
  replicas: 2
  selector:
    matchLabels:
      app: zooniverse-org-project-staging
  template:
    metadata:
      labels:
        app: zooniverse-org-project-staging
    spec:
      containers:
        - name: fe-project-staging
          image: zooniverse/fe-project:__IMAGE_TAG__
          ports:
            - containerPort: 3000
          env:
            - name: ASSET_PREFIX
              value: https://fe-project.preview.zooniverse.org
            - name: NEWRELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-license-key
                  key: key
            - name: NODE_ENV
              value: staging
            - name: PANOPTES_ENV
              value: staging
            - name: SENTRY_DSN
              value: https://2a50683835694829b4bc3cccc9adcc1b@sentry.io/1492691
---
apiVersion: v1
kind: Service
metadata:
  name: zooniverse-org-content-pages-staging
spec:
  selector:
    app: zooniverse-org-content-pages-staging
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zooniverse-org-content-pages-staging
  labels:
    app: zooniverse-org-content-pages-staging
spec:
  replicas: 2
  selector:
    matchLabels:
      app: zooniverse-org-content-pages-staging
  template:
    metadata:
      labels:
        app: zooniverse-org-content-pages-staging
    spec:
      containers:
        - name: fe-content-pages-staging
          image: zooniverse/fe-content-pages:__IMAGE_TAG__
          ports:
            - containerPort: 3000
          env:
            - name: ASSET_PREFIX
              value: https://fe-content-pages.preview.zooniverse.org
            - name: CONTENTFUL_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: contentful-conf
                  key: CONTENTFUL_ACCESS_TOKEN
            - name: CONTENTFUL_SPACE_ID
              valueFrom:
                secretKeyRef:
                  name: contentful-conf
                  key: CONTENTFUL_SPACE_ID
            - name: NEWRELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-license-key
                  key: key
            - name: NODE_ENV
              value: staging
            - name: PANOPTES_ENV
              value: staging
            - name: SENTRY_DSN
              value: https://1f0126a750244108be76957b989081e8@sentry.io/1492498
