---
apiVersion: v1
kind: Service
metadata:
  name: zooniverse-org-project-staging
spec:
  selector:
    app: zooniverse-org-project-staging
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zooniverse-org-project-staging
  labels:
    app: zooniverse-org-project-staging
spec:
  selector:
    matchLabels:
      app: zooniverse-org-project-staging
  template:
    metadata:
      labels:
        app: zooniverse-org-project-staging
    spec:
      containers:
        - name: fe-project-staging
          image: zooniverse/fe-project-staging:__IMAGE_TAG__
          resources:
            requests:
              memory: "200Mi"
              cpu: "100m"
            limits:
              memory: "200Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /Index
              port: 3000
          readinessProbe:
            httpGet:
              path: /Index
              port: 3000
          ports:
            - containerPort: 3000
          env:
            - name: ASSET_PREFIX
              value: https://fe-project.preview.zooniverse.org
            - name: COMMIT_ID
              value: __IMAGE_TAG__
            - name: NEWRELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-license-key
                  key: key
            - name: NODE_ENV
              value: production
            - name: PANOPTES_ENV
              value: production
            - name: APP_ENV
              value: staging
            - name: SENTRY_DSN
              value: https://2a50683835694829b4bc3cccc9adcc1b@sentry.io/1492691
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: zooniverse-org-project-staging
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: zooniverse-org-project-staging
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
---
apiVersion: v1
kind: Service
metadata:
  name: zooniverse-org-content-pages-staging
spec:
  selector:
    app: zooniverse-org-content-pages-staging
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zooniverse-org-content-pages-staging
  labels:
    app: zooniverse-org-content-pages-staging
spec:
  selector:
    matchLabels:
      app: zooniverse-org-content-pages-staging
  template:
    metadata:
      labels:
        app: zooniverse-org-content-pages-staging
    spec:
      containers:
        - name: fe-content-pages-staging
          image: zooniverse/fe-content-pages-staging:__IMAGE_TAG__
          resources:
            requests:
              memory: "200Mi"
              cpu: "10m"
            limits:
              memory: "200Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /Index
              port: 3000
          readinessProbe:
            httpGet:
              path: /Index
              port: 3000
          ports:
            - containerPort: 3000
          env:
            - name: ASSET_PREFIX
              value: https://fe-content-pages.preview.zooniverse.org
            - name: COMMIT_ID
              value: __IMAGE_TAG__
            - name: CONTENTFUL_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: contentful-conf
                  key: CONTENTFUL_ACCESS_TOKEN
            - name: CONTENTFUL_SPACE_ID
              valueFrom:
                secretKeyRef:
                  name: contentful-conf
                  key: CONTENTFUL_SPACE_ID
            - name: NEWRELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-license-key
                  key: key
            - name: NODE_ENV
              value: production
            - name: PANOPTES_ENV
              value: production
            - name: APP_ENV
              value: staging
            - name: SENTRY_DSN
              value: https://1f0126a750244108be76957b989081e8@sentry.io/1492498
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: zooniverse-org-content-pages-staging
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: zooniverse-org-content-pages-staging
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
