---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
   name: zooniverse-org-project-production-pdb
spec:
  minAvailable: 50%
  selector:
    matchLabels:
      app: zooniverse-org-project-production
---
apiVersion: v1
kind: Service
metadata:
  name: zooniverse-org-project-production
spec:
  selector:
    app: zooniverse-org-project-production
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zooniverse-org-project-production
  labels:
    app: zooniverse-org-project-production
spec:
  selector:
    matchLabels:
      app: zooniverse-org-project-production
  template:
    metadata:
      labels:
        app: zooniverse-org-project-production
    spec:
      containers:
        - name: fe-project-production
          image: zooniverse/front-end-monorepo-production:__IMAGE_TAG__
          command: ["yarn", "workspace", "@zooniverse/fe-project"]
          args: ["start"]
          resources:
            requests:
              memory: "500Mi"
              cpu: "250m"
            limits:
              memory: "1000Mi"
              cpu: "1000m"
          startupProbe:
            httpGet:
              path: /projects/Index
              port: 3000
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /projects/Index
              port: 3000
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /projects/Index
              port: 3000
            initialDelaySeconds: 20
            timeoutSeconds: 10
          ports:
            - containerPort: 3000
          env:
            - name: PROJECT_ASSET_PREFIX
              value: https://www.zooniverse.org/projects
            - name: COMMIT_ID
              value: __IMAGE_TAG__
            - name: NEWRELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-license-key
                  key: key
            - name: NODE_ENV
              value: production
            - name: PANOPTES_ENV
              value: production
            - name: APP_ENV
              value: production
            - name: ENABLE_CACHE_HEADERS
              value: "true"
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: zooniverse-org-project-production
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: zooniverse-org-project-production
  minReplicas: 2
  maxReplicas: 6
  targetCPUUtilizationPercentage: 80
---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
   name: zooniverse-org-content-pages-production-pdb
spec:
  minAvailable: 50%
  selector:
    matchLabels:
      app: zooniverse-org-content-pages-production
---
apiVersion: v1
kind: Service
metadata:
  name: zooniverse-org-content-pages-production
spec:
  selector:
    app: zooniverse-org-content-pages-production
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zooniverse-org-content-pages-production
  labels:
    app: zooniverse-org-content-pages-production
spec:
  selector:
    matchLabels:
      app: zooniverse-org-content-pages-production
  template:
    metadata:
      labels:
        app: zooniverse-org-content-pages-production
    spec:
      containers:
        - name: fe-content-pages-production
          image: zooniverse/front-end-monorepo-production:__IMAGE_TAG__
          command: ["yarn", "workspace", "@zooniverse/fe-content-pages"]
          args: ["start"]
          resources:
            requests:
              memory: "200Mi"
              cpu: "250m"
            limits:
              memory: "500Mi"
              cpu: "1000m"
          startupProbe:
            httpGet:
              path: /about/Index
              port: 3000
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /about/Index
              port: 3000
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /about/Index
              port: 3000
            initialDelaySeconds: 20
            timeoutSeconds: 10
          ports:
            - containerPort: 3000
          env:
            - name: CONTENT_ASSET_PREFIX
              value: https://www.zooniverse.org/about
            - name: COMMIT_ID
              value: __IMAGE_TAG__
            - name: CONTENTFUL_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: contentful-conf
                  key: CONTENTFUL_ACCESS_TOKEN
            - name: CONTENTFUL_SPACE_ID
              valueFrom:
                secretKeyRef:
                  name: contentful-conf
                  key: CONTENTFUL_SPACE_ID
            - name: NEWRELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-license-key
                  key: key
            - name: NODE_ENV
              value: production
            - name: PANOPTES_ENV
              value: production
            - name: APP_ENV
              value: production
            - name: ENABLE_CACHE_HEADERS
              value: "true"
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: zooniverse-org-content-pages-production
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: zooniverse-org-content-pages-production
  minReplicas: 1
  maxReplicas: 6
  targetCPUUtilizationPercentage: 80
