---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
   name: zooniverse-org-project-production-pdb
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: zooniverse-org-project-production
---
apiVersion: v1
kind: Service
metadata:
  name: zooniverse-org-project-production
spec:
  selector:
    app: zooniverse-org-project-production
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zooniverse-org-project-production
  labels:
    app: zooniverse-org-project-production
spec:
  selector:
    matchLabels:
      app: zooniverse-org-project-production
  template:
    metadata:
      labels:
        app: zooniverse-org-project-production
    spec:
      containers:
        - name: fe-project-production
          image: zooniverse/fe-project-production:__IMAGE_TAG__
          resources:
            requests:
              memory: "2200Mi"
              cpu: "250m"
            limits:
              memory: "2200Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /Index
              port: 3000
          readinessProbe:
            httpGet:
              path: /Index
              port: 3000
          ports:
            - containerPort: 3000
          env:
            - name: ASSET_PREFIX
              value: https://fe-project.zooniverse.org
            - name: COMMIT_ID
              value: __IMAGE_TAG__
            - name: NEWRELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-license-key
                  key: key
            - name: NODE_ENV
              value: production
            - name: PANOPTES_ENV
              value: production
            - name: SENTRY_DSN
              value: https://2a50683835694829b4bc3cccc9adcc1b@sentry.io/1492691
            - name: ENABLE_CACHE_HEADERS
              value: "true"
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: zooniverse-org-project-production
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: zooniverse-org-project-production
  minReplicas: 2
  maxReplicas: 6
  targetCPUUtilizationPercentage: 80
---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
   name: zooniverse-org-content-pages-production-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: zooniverse-org-content-pages-production
---
apiVersion: v1
kind: Service
metadata:
  name: zooniverse-org-content-pages-production
spec:
  selector:
    app: zooniverse-org-content-pages-production
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zooniverse-org-content-pages-production
  labels:
    app: zooniverse-org-content-pages-production
spec:
  selector:
    matchLabels:
      app: zooniverse-org-content-pages-production
  template:
    metadata:
      labels:
        app: zooniverse-org-content-pages-production
    spec:
      containers:
        - name: fe-content-pages-production
          image: zooniverse/fe-content-pages-production:__IMAGE_TAG__
          resources:
            requests:
              memory: "275Mi"
              cpu: "250m"
            limits:
              memory: "275Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /Index
              port: 3000
          readinessProbe:
            httpGet:
              path: /Index
              port: 3000
          ports:
            - containerPort: 3000
          env:
            - name: ASSET_PREFIX
              value: https://fe-content-pages.zooniverse.org
            - name: COMMIT_ID
              value: __IMAGE_TAG__
            - name: CONTENTFUL_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: contentful-conf
                  key: CONTENTFUL_ACCESS_TOKEN
            - name: CONTENTFUL_SPACE_ID
              valueFrom:
                secretKeyRef:
                  name: contentful-conf
                  key: CONTENTFUL_SPACE_ID
            - name: NEWRELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-license-key
                  key: key
            - name: NODE_ENV
              value: production
            - name: PANOPTES_ENV
              value: production
            - name: SENTRY_DSN
              value: https://1f0126a750244108be76957b989081e8@sentry.io/1492498
            - name: ENABLE_CACHE_HEADERS
              value: "true"
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: zooniverse-org-content-pages-production
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: zooniverse-org-content-pages-production
  minReplicas: 1
  maxReplicas: 6
  targetCPUUtilizationPercentage: 80
