name: CI Tests

on:
  pull_request:
  push:
    branches:    
      - master

jobs:
  build:
   runs-on: ubuntu-latest
   env:
     APP_ENV: production
     NODE_ENV: production
     PANOPTES_ENV: production
     CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
     CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
     CONTENT_ASSET_PREFIX: 'https://fe-content-pages.zooniverse.org'
     PROJECT_ASSET_PREFIX: 'https://fe-project.zooniverse.org'

   steps:
    # See: https://help.github.com/en/actions/automating-your-workflow-with-github-actions/configuring-a-workflow#using-the-checkout-action
    - uses: actions/checkout@v2

    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - run: yarn install --production=false --frozen-lockfile
    - run: yarn workspace @zooniverse/react-components build
    - run: yarn workspace @zooniverse/classifier build
    - run: yarn workspace @zooniverse/fe-project build
    - run: yarn workspace @zooniverse/fe-content-pages build
    - run: PANOPTES_ENV=test yarn test:ci
    - run: yarn coverage-lcov
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
