name: Coverage report

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build libraries
    runs-on: ubuntu-latest
    steps:
    # See: https://help.github.com/en/actions/automating-your-workflow-with-github-actions/configuring-a-workflow#using-the-checkout-action
      - uses: actions/checkout@v3

      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/gallium'
          cache: 'yarn'

      - run: yarn install --production=false --frozen-lockfile
      - run: yarn workspace @zooniverse/react-components build
      - run: yarn workspace @zooniverse/classifier build
      - uses: actions/upload-artifact@v3
        with:
          name: build
          path: packages/*/dist/main.js

  run_tests:
    name: Run tests
    runs-on: ubuntu-latest
    needs: build
    env:
      PANOPTES_ENV: test
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/gallium'
          cache: 'yarn'

      - run: yarn install --production=false --frozen-lockfile
      - uses: actions/download-artifact@v3
        with:
          name: build
          path: packages/
      - run: yarn test:ci
      - run: yarn coverage-lcov
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
