name: deploy storybooks

on:
  push:
    tags:
      - production-release
  workflow_dispatch:

jobs:
  build_storybooks:
    name: Build storybooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
         node-version-file: ./.nvmrc
         cache: 'pnpm'

      - run: pnpm install --frozen-lockfile
      - name: Deploy to GH Pages
        run: pnpm deploy-storybook -- --ci
        env:
          GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
