name: Deploy branch builds

on:
  # possible we can deploy on specific branch events
  # https://docs.github.com/en/actions/using-workflows/triggering-a-workflow#example-excluding-branches
  # push:
  #   branches:
  #     - '!master'
  #     - 'deploy-branch-*'
  #
  # or we can deploy via dispatch which has a ref (branch / tag) passed to it for checkout actions
  # https://docs.github.com/en/rest/actions/workflows#create-a-workflow-dispatch-event
  workflow_dispatch:

jobs:
  build_and_push_image:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: |
          ghcr.io/zooniverse/front-end-monorepo-branch:${{ github.sha }}
        build-args: |
          APP_ENV=staging
          COMMIT_ID=${{ github.sha }}
          CONTENTFUL_ACCESS_TOKEN=${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
          CONTENTFUL_SPACE_ID=${{ secrets.CONTENTFUL_SPACE_ID }}
          CONTENT_ASSET_PREFIX=https://frontend.preview.zooniverse.org/about
          SENTRY_CONTENT_DSN=https://1f0126a750244108be76957b989081e8@sentry.io/1492498
          PROJECT_ASSET_PREFIX=https://fe-project-branch.preview.zooniverse.org/projects
          SENTRY_PROJECT_DSN=https://2a50683835694829b4bc3cccc9adcc1b@sentry.io/1492691

  deploy_branch:
    runs-on: ubuntu-latest
    needs: build_and_push_image
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_AKS }}

    - name: Set the target AKS cluster
      uses: Azure/aks-set-context@v2
      with:
        resource-group: kubernetes
        cluster-name: microservices

    - name: Modify & apply template
      run: |
        sed 's/__IMAGE_TAG__/${{ github.sha }}/g' kubernetes/deployment-branch.tmpl | kubectl apply -f -

  slack_notification:
    name: Slack notification
    uses: zooniverse/ci-cd/.github/workflows/slack_notification.yaml@main
    needs: [build_and_push_image, deploy_branch]
    if: always()
    with:
      commit_id: ${{ github.sha }}
      job_name: Build Image
      status: ${{ needs.build_and_push_image.result }}
      title: "FEM branch deploy complete"
      title_link: "https://fe-project-branch.preview.zooniverse.org"
    secrets:
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
