name: deploy storybooks

on:
  push:
    tags:
      - production-release
  workflow_dispatch:

jobs:
  build_storybooks:
    name: Build storybooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
         node-version: 'lts/hydrogen'
         cache: 'yarn'

      - run: yarn install --production=false --frozen-lockfile
      - run: yarn workspace @zooniverse/react-components build:es6
      - name: Deploy to GH Pages
        run: yarn deploy-storybook -- --ci
        env:
          GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
