name: Label approved pull requests
on: pull_request_review
jobs:
  labelWhenApproved:
    name: Label when approved
    runs-on: ubuntu-latest
    steps:
    - name: Label when approved
      uses: zooniverse/label-when-approved-action@v1.0.5
      env:
        APPROVALS: "1"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ADD_LABEL: "approved"

name: New Sentry Release

on:
  push:
    branches:
      - master

jobs:
  release:
   runs-on: ubuntu-latest
   env:
     SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
     SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
     SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}

   steps: 
    # See: https://help.github.com/en/actions/automating-your-workflow-with-github-actions/configuring-a-workflow#using-the-checkout-action
    - uses: actions/checkout@v1.0.0

    - name: Create new Sentry release
      run: |
        # Install Sentry CLI
        curl -sL https://sentry.io/get-cli/ | bash
        
        # Create a new Sentry release with the commit SHA as the version.
        # Associate all commits since the last finalised release.
        export VERSION=$(sentry-cli releases propose-version)
        sentry-cli releases new -p $SENTRY_PROJECT $VERSION
        sentry-cli releases set-commits --auto $VERSION
        
        # Create new staging deploy for this Sentry release
        sentry-cli releases deploys $VERSION new -e 'staging'

on:
  release:
    types: [published]

jobs:
  release:
   runs-on: ubuntu-latest
   env:
     SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
     SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
     SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}

   steps: 
    # See: https://help.github.com/en/actions/automating-your-workflow-with-github-actions/configuring-a-workflow#using-the-checkout-action
    - uses: actions/checkout@v1.0.0

    - name: Finalise Sentry release
      run: |
        # Install Sentry CLI
        curl -sL https://sentry.io/get-cli/ | bash
        
        # Finalise existing Sentry release
        export VERSION=$GITHUB_SHA
        sentry-cli releases finalize $VERSION
        
        # Create new production deploy for this Sentry release
        sentry-cli releases deploys $VERSION new -e 'production'