name: Sentry Production Release

on:
  release:
    types: [edited, published]

jobs:
  release:
   runs-on: ubuntu-latest
   env:
     SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
     SENTRY_ORG: ${{ secrets.SENTRY_ORG }}

   steps: 
    # See: https://help.github.com/en/actions/automating-your-workflow-with-github-actions/configuring-a-workflow#using-the-checkout-action
    - uses: actions/checkout@v1.0.0

    - name: Finalise Sentry release
      run: |
        # Install Sentry CLI
        curl -sL https://sentry.io/get-cli/ | bash
        
        # Finalise existing Sentry release
        export VERSION=$GITHUB_SHA
        sentry-cli releases finalize $VERSION
        
        # Create new production deploy for this Sentry release
        sentry-cli releases deploys $VERSION new -e 'production'
